@import "imported-css-with-mediaqueries.css";

body {
    background: #0f0;
}

@media screen and (max-width:800px) {
    body {
        background:hotpink;
    }
}

@media screen and (max-width:1300px) {
    body {
        background:hotpink;
    }
}
